<div class="row">
    <div class="col-3 d-none d-sm-block">
        <div class="list" style="width:296px; height:auto">
            <div class="liBackground">
                <ul class="list-group ml-0 ">
                    <li class="list-group-item ms-0 me-0">
                        <a id="a" href="#">
                            <div class="menu_tour d-flex">
                                <img class="navigation" src="assets/images/navigation.png">
                                <span class="text_menu_tour">Menu Tour</span>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item ms-0 me-0">
                        <a id="a" href="#">
                            <div class="md-form mt-3 mb-2 w-77">
                                <div class="para d-flex mt-3 mx-3 ">
                                    <p style="font-size: 14px; font-weight: 600;">My Services</p>
                                    <p class="para1 ms-3">View all</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item ms-0 me-0"><a id="a" href="#">Requests</a></li>
                    <li class="list-group-item ms-0 me-0"><a id="a" href="#">Details</a></li>
                    <li class="list-group-item ms-0 me-0"><a id="a" href="#">Earnings</a></li>
                    <li class="list-group-item ms-0 me-0"><a id="a" href="#">Help, Concerns &
                            Feedback</a></li>
                    <li class="list-group-item ms-0 me-0"><a id="a" href="#">Learning &
                            Collaboration</a></li>
                    <li class="list-group-item ms-0 me-0"><a id="a" href="#">
                            <div class="para d-flex mt-3 mx-1 mb-1 ">
                                <p style="font-size: 18px; font-weight: 600;">Applications</p>
                                <p class="para11 ms-3">View all</p>
                            </div>
                        </a></li>
                    <li class="list-group-item ms-0 me-0"><a id="a" href="#">Employee
                            Services</a></li>
                    <li class="list-group-item ms-0 me-0"><a id="a" href="#"><a href="#">Delivery
                                & Intellectual Property</a></a>
                    </li>
                    <li class="list-group-item ms-0 me-0"><a id="a" href="#">Executive Services,
                            Governance & Reporting</a></li>
                    <li class="list-group-item ms-0 me-0"><a id="a" href="#">Finance &
                            Infrastructure</a></li>
                    <li class="list-group-item ms-0 me-0"><a id="a" href="#">Human Resources &
                            Diversity</a></li>
                    <li class="list-group-item ms-0 me-0"><a id="a" href="#">Learning and
                            Collabartions</a></li>
                    <li class="list-group-item ms-0 me-0"><a id="a" href="#">Sales &
                            Marketing</a></li>
                    <li class="list-group-item ms-0 me-0"><a id="a" href="#">Security, Risks &
                            Compliance</a></li>
                    <li class="list-group-item ms-0 me-0"><a id="a" href="#">Talent
                            Management</a></li>
                    <li class="list-group-item ms-0 me-0"><a id="a" href="#">Utilities &
                            Enterprise Information</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

