<div class="menuHome mt-4 ms-2">
    <h4>Menu Home</h4>
    <div class="underline1">
    </div>
</div>
<div class="card xl-mt-2 xl-ms-4 xl-me-3 ms-1 me-1" style="height:fit-content">
    <div class="card-body">
        Product/Services marked with can only be accessed on TCS network.
        Please<a id="a" href="#">click
            here</a>here for mor details.
    </div>
</div>
<div class="col-12">
    <div class="row">
        <div class="col-xl-3">
            <div class="favouriteshead mt-4 ms-3">
                <div class="star d-flex">
                    <img src="assets/images/star.png" id="star">
                    <h3 id="favText">Favourites</h3>
                </div>
                <div class="underline1"></div>
                <div class="fav-texts px-2">
                    <li class="fav-texts mb-3 ">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="fav-texts mb-3 ">
                        <a class="nav-link" href="#">Building on belief</a>
                    </li>
                    <li class="fav-texts mb-3 ">
                        <a class="nav-link" href="#">CEO Connect</a>
                    </li>
                    <li class="fav-texts mb-3 ">
                        <a class="nav-link" href="#">Unit News</a>
                    </li>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="favouriteshead mt-4 ms-3">
                <div class="trend d-flex">
                    <img src="assets/images/trending.png" id="star">
                    <h3 id="TrendText">Trending</h3>
                </div>
                <div class="underline2"></div>
                <div class="fav-texts">
                    <li class="fav-texts mb-3 ">
                        <a class="nav-link active" aria-current="page" href="#">Global
                            ESS</a>
                    </li>
                    <li class="fav-texts mb-3 ">
                        <a class="nav-link" th:href="@{adminPage}">Admin Portal</a>
                    </li>
                    <li class="fav-texts mb-3 ">
                        <a class="nav-link" href="#">Timesheet Entry</a>
                    </li>
                    <li class="fav-texts mb-3 ">
                        <a class="nav-link" href="#">iEvolve Learner</a>
                    </li>
                    <li class="fav-texts mb-3 ">
                        <a class="nav-link" href="#">SPEED</a>
                    </li>
                    <li class="fav-texts mb-3 ">
                        <a class="nav-link" href="#">My Allocation & Utilization</a>
                    </li>
                    <li class="fav-texts mb-3 ">
                        <a class="nav-link" href="#">My DOcumnets</a>
                    </li>
                    <li class="fav-texts mb-3 ">
                        <a class="nav-link" href="#">Health Insurance Poratl</a>
                    </li>
                    <li class="fav-texts mb-3 ">
                        <a class="nav-link" href="#">Project Resource Management</a>
                    </li>
                </div>
            </div>

        </div>
        <div class="col-xl-6">
            <div class="favouriteshead mt-4 ms-3">
                <div class="featured d-flex">
                    <img src="assets/images/featured.png" id="star">
                    <h3 id="featuredText">Featured</h3>
                </div>
                <div class="underline3 me-5"></div>
                <div class="favcontent3 ms-5 d-xl-flex">
                    <div class="border1 me-2">
                        <img class="last_image" src="assets/images/360.png">
                        <p class="lastpara1 text-center">On Track with 360<sup>o</sup>
                            Inclusive<br>FeedBack</p>
                    </div>
                    <div class="border2 text-center">
                        <div class="image2"><img class="bringbuddy_image" src="assets/images/bringbuddy.png"></div>
                        <p class="last_para2">Bring back buddy</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>